@font-face {
    font-family: "Karla";
    src: url(../fonts/Karla-Bold.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: "Georgia";
    src: url(../fonts/Georgia_regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "Karla";
    src: url(../fonts/Karla-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "Palatino Linotype";
    src: url(../fonts/Palatino_Linotype.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: 400;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
    font-family: "Karla";
    font-weight: 400;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 950px;
    margin: 0 auto;
}

/* header */

/* Добавление шапки*/
.header_wrapper{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    display: flex;
}
/* настройки текста */
.header_text{
    margin-right: 20px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    display: flex;
}
/* Выделение при наведении */
.header_text:hover{
    text-decoration: overline;
}
/* размеры иконок */
.header_icon{
    margin-right: 5px;
    margin-left: 70px;
}
/* настройки текста */
.nav_s{
    font-family: 'Karla';
    width: 20px;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #1D1F2E;
    border-radius: 9px;
    margin-left: 5px;
}

/* mugs */

/* Добавление главной секции */
/* Задний фон и его размер */
.mugs_back{
    margin: 0 auto;
    background: url('../img/photo/main_photo.png') no-repeat center center / cover;
    width: 1480px;
}
/* отступ и выравнивание по центру */
.mugs_wrapper{
    padding: 160px 0;
    text-align: center;
}
/* настройки текста */
.mugs_title{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* настройки текста */
.mugs_subtitle{
    margin: 20px 0;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 47px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
/* настройки текста */
.mugs_subtitle2{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
/* настройки текста */
.mugs_btn_text{
    font-family: 'Karla';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
/* настройки текста */
.mugs_btn{
    margin-top: 20px;
    cursor: pointer;
    width: 231px;
    height: 35px;
    box-shadow: 0 0 10px rgba(29, 31, 46, 0.1);
    border-radius: 0px;
    background: white;
    border: none;
}
/* Тень от кнопки */
.mugs_btn:hover{
    box-shadow: 0 0 15px #FFFFFF;
}

/* story */

/* настройка текста по центру, отступы сверху и снизу */
.story_wrapper{
    text-align: center;
    margin: 100px 0;
}
/* настройки текста */
.story_title{
    margin-bottom: 16px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: #1D1F2E;
}
/* настройки текста */
.story_text{
    margin-bottom: 20px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
/* настройки текста */
.story_a{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #A25F4B;
}
/* обводка текста */
.story_a:hover{
    text-decoration: overline;
}

/* price */

/* настройка текста по центру, нижний отступ */
.price_wrapper{
    text-align: center;
    margin-bottom: 100px;
}
/* выравнивание по вертикали */
.price_block{
    display: grid;
}
/* настройки текста */
.price_title{
    margin-bottom: 100px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
/* настройка блоков по горизонтали */
.price_blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* настройки текста */
.name_of_mug{
    margin-top: 35px;
    margin-bottom: 5px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1D1F2E;
}
/* обводка текста */
.name_of_mug:hover{
    text-decoration: overline;
}
/* настройки текста */
.price_sum{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);    
}
/* тень от фотографии */
.photo:hover{
    box-shadow: 0 0 20px #A25F4B;
}
/* расположение текста */
.price_sums{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* настройки текста */
.mug_sum_real{
    margin-right: 10px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #A25F4B;
}
/* настройки текста */
.mug_sum_unreal{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: rgba(29, 31, 46, 0.4);    
}

/* products */

/* Настройка текста по центу, отступ вниз */
.products_wrapper{
    text-align: center;
    margin-bottom: 100px;
}
/* настройки текста */
.products_title{
    margin-bottom: 100px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
/* настройка блоков по горизонтали */
.products_blocks{
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* настройки текста */
.name_of_products{
    padding-top: 35px;
    margin-bottom: 5px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1D1F2E;
}
/* обводка текста */
.name_of_products:hover{
    text-decoration: overline;
}
/* настройки текста */
.products_sum{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);    
}
/* тень от фотографии */
.photo:hover{
    box-shadow: 0 0 20px #1f2020;
}
/* отступ от фотографии */
.products_photo{
    margin-bottom: 35px;
}
/* расположение текста */
.products_sums{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* настройки текста */
.mug_sum_real{
    margin-right: 10px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #A25F4B;
}
/* настройки текста */
.mug_sum_unreal{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: rgba(29, 31, 46, 0.4);    
}
/* отступ между блоками */
.products_bl{
    margin-top: 30px;
}

/* free */

/* отступ вниз */
.free_wrapper{
    margin-bottom: 100px;
}
/* настройки текста */
.free_title{
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
/* настройки расположения */
.free_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* выравнивание по горизонтали */
.free_photos{
    display: flex;
}
/* отступ от картинок */
.free_photo{
    margin-right: 20px;
}
/* выравнивание по вертикали */
.free_photo2{
    display: grid;
}
/* отступ сверху */
.white_all{
    margin-top: 12px;
}
/* отступ влево */
.free_texts{
    margin-left: 100px;
}
/* настройки текста */
.free_intro{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
/* настройки текста */
.free_title2{
    margin: 20px 0;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    color: #1D1F2E;
}
/* настройки текста */
.free_text{
    margin-bottom: 20px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
/* настройки текста кнопки */
.free_btn{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 173px;
    height: 35px;
    cursor: pointer;
    border: none;
    background: #1D1F2E;
    border-radius: 0px;
}
/* тень */
.free_btn:hover{
    box-shadow: 0 0 10px #1D1F2E;
}

/* back */

/* Задний фон, его размер и выравнивание по центру */
.backgr{
    margin: 0 auto;
    background: url('../img/photo/main2_photo.jpg') no-repeat center center/ cover;
    height: 340px;
}

/* life */

/* отступы вниз и вверх */
.life_wrapper{
    margin-top: 100px;
    margin-bottom: 150px;
}
/* настройки текста */
.life_title{
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
/* Выравнивание по горизонтали */
.life_blocks{
    display: flex;
    justify-content: space-between;
}
/* настройки текста */
.life_block_title{
    margin: 20px 0;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1D1F2E;
}
.life_block_title:hover{
    text-decoration: overline;
}
/* настройки текста */
.life_block_text{
    margin-bottom: 20px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
/* настройки текста */
.life_block_time{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
/* тень фотографии */
.life_photo:hover{
    box-shadow: 0 0 10px #1D1F2E;
}

/* bags */

/* отступы и размещение */
.bags_wrapper{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 80px 0 85px 0;
}
/* задний фон */
.bags_back{
    margin: 0 auto;
    background: #1D1F2E;
    border-radius: 0px;
    width: 1500px;
}
/* настройки текста */
.bags_title{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* настройки текста */
.bags_name{
    margin: 30px 0;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
/* расположение кнопки */
.bags_inputs{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* настройки текста */
.bags_input{
    width: 350px;
    height: 54px;
    margin-right: 10px;
    padding-left: 18px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    border: 1px solid #2F303E;
    color: #FFFFFF;
}
/* настройки текста */
.bags_btn{
    font-size: 12px;
    width: 129px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
}
/* тень кнопки */
.bags_btn:hover{
    box-shadow: 0 0 10px #FFFFFF;
}

/* footer */

/* расположение объектов в футере */
.footer_wrapper{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
/* настройки текста */
.footer_title{
    margin-top: 30px;
    margin-bottom: 75px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
}
/* настройки текста */
.footer_inc{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.3);
}
/* настройки текста */
.footer_name{
    margin-bottom: 30px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
/* настройки текста */
.footer_link{
    margin-bottom: 15px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
}
.footer_link:hover{
    text-decoration: overline;
}
/* настройки текста */
.footer_text{
    margin: 30px 0;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    color: #1D1F2E;
}
/* настройки текста */
.footer_text2{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.3);
}
.footer_bl{
    display: grid;
}